<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/edit.css">
        <title>編集ページ</title>
    </head>
    <body class="container1">
        <%- include('header'); %>
        <div class="main12">
            <form action="../edit/<%= content.id %>/update" method="POST">
                <div class="form-group">
                    <label for="id"><span class="label label-danger"></span> ID</label>
                    <input type="text" id="id" name="id" class="form-control" value="<%= content.id %>" readonly>
                </div>
                <div class="form-group">
                    <label for="name"><span class="label label-danger"></span>名前</label>
                    <input type="text" id="name" name="name" class="form-control"  value="<%= content.name %>">
                </div>
                <div class="form-group">
                    <label for="age"><span class="label label-danger"></span>年齢</label>
                    <input type="number" id="age" name="age" class="form-control" value="<%= content.age %>">
                </div>
                <div class="form-group">
                    <label for="food"><span class="label label-danger"></span>ご飯</label>
                    <input type="text" id="food" name="food" class="form-control"  value="<%= content.food %>">
                </div>
                <div class="form-group">
                    <label for="personality"><span class="label label-danger"></span>性格</label>
                    <input type="text" id="personality" name="personality" class="form-control" value="<%= content.personality %>">
                </div>
                <div class="form-group">
                    <label for="favoriteToys"><span class="label label-danger"></span>おもちゃ</label>
                    <input type="text" id="favoriteToys" name="favoriteToys" class="form-control"  value="<%= content.favoriteToys %>">
                </div>
                <div class="form-group">
                    <label for="favoriteSnack"><span class="label label-danger"></span>おやつ</label>
                    <input type="text" id="favoriteSnack" name="favoriteSnack" class="form-control" value="<%= content.favoriteSnack %>">
                </div>
                <div>
                    <input type="submit" value="更新">
                </div>
            </form>
        </div>
        <div class="neko">
            <a href="../index" class="btn btn-malformation btn-malformation--pastel">おうち</a>
        </div>
        </div>
    </body>
</html>