<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/edit.css">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <title>くわしく</title>
    </head>
    <body class="container">
        <%- include('header'); %>
        <div role="main">
            <form action="../edit/update" method="POST">
                <input type="hidden" name="id" value="<%= form.id %>">
                <div class="cp_iptxt">
                    <label for="name">名前</label>
                    <input type="text" id="name" name="name" class="ef"  value="<%= form.name %>">
                    <span class="focus_line"></span>
                </div>
                <div class="cp_iptxt">
                    <label for="age">年齢</label>
                    <input type="number" id="age" name="age" class="ef" value="<%= form.age %>">
                    <span class="focus_line"></span>
                </div>
                <div class="cp_iptxt">
                    <label for="food">ご飯</label>
                    <input type="text" id="food" name="food" class="ef"  value="<%= form.food %>">
                    <span class="focus_line"></span>
                </div>
                <div class="cp_iptxt">
                    <label for="personality">性格</label>
                    <input type="text" id="personality" name="personality" class="ef" value="<%= form.personality %>">
                    <span class="focus_line"></span>
                </div>
                <div class="cp_iptxt">
                    <label for="favoriteToys">おもちゃ</label>
                    <input type="text" id="favoriteToys" name="favoriteToys" class="ef"  value="<%= form.favoriteToys %>">
                    <span class="focus_line"></span>
                </div>
                <div class="cp_iptxt">
                    <label for="favoriteSnack">おやつ</label>
                    <input type="text" id="favoriteSnack" name="favoriteSnack" class="ef" value="<%= form.favoriteSnack %>">
                    <span class="focus_line"></span>
                </div>
                <div>
                    <input type="submit" value="更新">
                </div>
            </form>
        </div>
        <%- include('footer'); %>
    </body>
</html>