<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/other.css">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <title>あざーす</title>
    </head>
    <body class="container">
        <%- include('header'); %>
        <div role="main">
            <div>
            </div>
            <div class="management_container">
                <table border="" bordercolor="#EEEEEE" class="management_table">
                    <tr>
                        <td colspan="8" class="boke"><p>ここのみんなのねこさんたちについて</p></td>
                    </tr>
                    <tr>
                        <th bgcolor="">ID</th>
                        <th bgcolor="">名前</th>
                        <th bgcolor="">写真</th>
                        <th bgcolor="">年齢</th>
                        <th bgcolor="">ご飯</th>
                        <th bgcolor="">性格</th>
                        <th bgcolor="">編集</th>
                        <th bgcolor="">削除</th>
                    </tr>
                        <% for(var i in content){ %>
                        <tr>
                            <% var obj = content[i]; %>
                            <td><%= obj.id %></td>
                            <td><%= obj.name %></td>
                            <td><%= obj.neko_picture %></td>
                            <td><%= obj.age %></td>
                            <td><%= obj.food %></td>
                            <td><%= obj.personality %></td>
                            <td>
                                <a href="../edit?id=<%= obj.id %>">くわしく</a>
                            </td>
                            <td><form action="../other/delete" method="POST">
                                    <input type="hidden" name="id" value="<%= obj.id %>">
                                    <button type="submit" value="削除" class="btn2">✔</button>
                                </form>
                            </td>
                        </tr>
                            <% } %>
                </table>
            </div>
        </div>
        <div class="neko">
            <a href="../add" class="btn-a">猫さんを登録する</a>
        </div>
        <%- include('footer'); %>
    </body>
</html>